{
  "statusLine": {
    "type": "command",
    "command": "sh {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "example-skills@anthropic-agent-skills": true
  },
  "effortLevel": "high",
  "theme": "auto",
  "skipAutoPermissionPrompt": true,
  "permissions": {
    "defaultMode": "auto"
  }
}
